<header
id="header"
class="tra-menu navbar-dark inner-page-header white-scroll"
>
<div class="header-wrapper blog-header">
    <!-- MOBILE HEADER -->
    <div class="wsmobileheader clearfix">
        <span class="smllogo"
            ><img
                src="{{ app.base_url }}/assets/images/logo-blog.png"
                alt="mobile-logo"
        /></span>
        <a id="wsnavtoggle" class="wsanimated-arrow"
            ><span></span
        ></a>
    </div>

    <!-- NAVIGATION MENU -->
    <div class="wsmainfull menu clearfix">
        <div class="wsmainwp clearfix">
            <!-- HEADER BLACK LOGO -->
            <div class="desktoplogo">
                <a href="/" class="logo-black"
                    ><img
                        src="{{ app.base_url }}/assets/images/logo-blog.png"
                        alt="logo"
                /></a>
            </div>

            <!-- HEADER WHITE LOGO -->
            <div class="desktoplogo">
                <a href="#blog-page" class="logo-white"
                    ><img
                        src="{{ app.base_url }}/assets/images/logo-blog-white.png"
                        alt="logo"
                /></a>
            </div>

            <!-- MAIN MENU -->
            <nav class="wsmenu clearfix">
                <ul class="wsmenu-list nav-theme">
                    <!-- DROPDOWN SUB MENU -->
                    <li aria-haspopup="true">
                        <a href="#" class="h-link"
                            >Company
                            <span class="wsarrow"></span
                        ></a>
                        <ul class="sub-menu">
                            <li aria-haspopup="true">
                                <a href="about.html"
                                    >About Us</a
                                >
                            </li>
                            <li aria-haspopup="true">
                                <a href="careers.html"
                                    >Careers
                                    <span class="sm-info"
                                        >4</span
                                    ></a
                                >
                            </li>
                            <li aria-haspopup="true">
                                <a href="reviews.html"
                                    >Customers</a
                                >
                            </li>
                            <li aria-haspopup="true">
                                <a href="blog-listing.html"
                                    >Our Blog</a
                                >
                            </li>
                            <li aria-haspopup="true">
                                <a href="contacts.html"
                                    >Contact Us</a
                                >
                            </li>
                        </ul>
                    </li>

                    <!-- SIMPLE NAVIGATION LINK -->
                    <li class="nl-simple" aria-haspopup="true">
                        <a href="projects.html" class="h-link"
                            >Case Studies</a
                        >
                    </li>

                    <!-- SIMPLE NAVIGATION LINK -->
                    <li class="nl-simple" aria-haspopup="true">
                        <a href="pricing-1.html" class="h-link"
                            >Pricing</a
                        >
                    </li>

                    <!-- SIMPLE NAVIGATION LINK -->
                    <li class="nl-simple" aria-haspopup="true">
                        <a href="faqs.html" class="h-link"
                            >FAQs</a
                        >
                    </li>

                    <!-- SIGN IN LINK -->
                    <li
                        class="nl-simple reg-fst-link mobile-last-link"
                        aria-haspopup="true"
                    >
                        <a href="login-2.html" class="h-link"
                            >Sign In</a
                        >
                    </li>

                    <!-- SIGN UP BUTTON -->
                    <li class="nl-simple" aria-haspopup="true">
                        <a
                            href="signup-2.html"
                            class="btn r-04 btn--theme hover--theme last-link"
                            >Get Started</a
                        >
                    </li>
                </ul>
            </nav>
            <!-- END MAIN MENU -->
        </div>
    </div>
    <!-- END NAVIGATION MENU -->
</div>
<!-- End header-wrapper -->
</header>